@import url('https://fonts.googleapis.com/css2? família=Inter:wght@400;900&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

body {
    text-align: center;
    background: linear-gradient(to bottom, #6ab7f5, #fff);
    min-height: 100vh;
}

main {
    display: inline-block;
    margin-top: 2%;
    padding: 15px;
    position: relative;
}

.pokédex {
    width: 100%;
    max-width: 425px;
}

.pokemon__image {
    position: absolute;
    left: 0;
}